body {
  background-color: #ffffff;
  color: #303030;
  font-size: 16px;
}

/*TYPOGRAPHY*/

a {
  text-decoration: none;
}

a:link {
  color:#ffffff;
}
a:visited {
  color:#DAF7A6;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color:#0070BD;
}

h1  {
  color: #101010;
  font-size: 2em;
  font-weight: 800;
  line-height: 2;
}

h3  {
  font-size: 1.25em;
  line-height: 1.2;
}

p {
  line-height: 1.1;
}

p + p {
  margin-top: 15px;
}

nav {
  background-color: #0A00DA;
  float: left;
  position: fixed;
  width: 100%;
}

figcaption  {
  font-size: .75em;
  color: 	#606060;
  font-style: italic;
}

.author {
  font-size: .9em;
  color: #606060;
  line-height: 1.5;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.story-text {
  padding-top: 20px;
}
